.header {
	color: #FF0B00;
}

body {
	text-align: center;
	background-image: url("crab5.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
}